:root {
    --bg-color: rgb(241, 241, 241);
    --text-color: #000000;
    --mini-bg-color: rgba(0,0,0,0.3);
}
[data-theme='dark']{
    --bg-color: rgb(13, 13, 13);
    --text-color: #fff;
    --mini-bg-color: rgba(0,0,0,0.7);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px; padding: 0px;
    /* background-color: var(--bg-color); */
    background-image: url('https://i.postimg.cc/xTTKPMZq/purmel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s,color 0.3s;
}
#rootContainer{
    height: 100vh; width: 100vw;
    display: gri;
    background: var(--mini-bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
}
.headerContainer{
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* .container{
    height: 80vh; width: 80vw;
    background-color: var(--mini-bg-color);
    border-radius: 25px;
    box-shadow: 0 0 50px 1px rgba(255, 213, 0,0.4);
} */